<!DOCTYPE html>
<html>

<head>
    <title>My Cart</title>
</head>

<body>

    <h1>My Cart</h1>

    {% for item in cart_items %}

        <hr>

        <h3>
            {{ item.product.name }}
        </h3>

        <p>
            <strong>Available Stock:</strong>
            {{ item.product.stock }}
        </p>

        <p>
            <strong>Quantity:</strong>

            <a href="{% url 'decrease_quantity' item.id %}">
                <button type="button">
                    −
                </button>
            </a>

            &nbsp;

            {{ item.quantity }}

            &nbsp;

            <a href="{% url 'increase_quantity' item.id %}">
                <button type="button">
                    +
                </button>
            </a>
        </p>

        <p>
            <strong>Price:</strong>
            ₹{{ item.product.price }}
        </p>

        <a href="{% url 'remove_from_cart' item.id %}">

            Remove Item

        </a>

    {% empty %}

        <p>
            Your cart is empty.
        </p>

    {% endfor %}

    <hr>

    <h2>
        Total: ₹{{ total }}
    </h2>

    {% if cart_items %}

        <br>

        <a href="{% url 'place_order' %}">

            <button type="button">

                Proceed To Checkout

            </button>

        </a>

    {% endif %}

</body>

</html>