<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

<h2>Products</h2>

<form method="GET">
    <input
        type="text"
        name="q"
        placeholder="Search products..."
    >

    <button type="submit">
        Search
    </button>
</form>

<hr>

{% for product in products %}

<h3>{{ product.name }}</h3>

<p>Brand: {{ product.brand }}</p>

<p>Price: ₹{{ product.price }}</p>

<a href="{% url 'add_to_cart' product.id %}">
    <button>
        Add To Cart
    </button>
</a>

<hr>

{% endfor %}

</body>
</html>